@model prjSegundoCrud.Models.Cliente
@{
    ViewData["Title"] = "Editar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/Cliente/script.js"></script>

<div class="contenedor">
    <hgroup>
        <h2>Editar Cliente</h2>
    </hgroup>
    <br />
    <form asp-action="Edit" onsubmit="return validarcampos();">
        <div class="form-group">
            <input asp-for="Identificacion" placeholder="Ingrese la Identificacion" class="input__text" id="Identificacion" />
        </div>
        <div class="form-group">
            <input asp-for="Nombre" placeholder="Ingrese el Nombre" class="input__text" id="Nombre" />
        </div>
        <div class="form-group">
            <input asp-for="Correo" placeholder="Ingrese el Correo" class="input__text" id="Correo" />
        </div>
        <div class="form-group">
            <input asp-for="Direccion" placeholder="Ingrese la Direccion" class="input__text" id="Direccion" />
        </div>
        <div class="btn__group">
            <input type="submit" name="Crear" value="Guardar" class="btn btn__primary" />
            <a class="btn btn__danger" asp-action="Index">Cancelar</a>
        </div>
    </form>
</div>
